*.o
/Input/1424alpha.dat
/Input/3c273.dat
/Input/3c279.dat
/Input/bllac.dat
/Input/cygx1.dat
/Input/m87.dat
/Input/oj287_dt.dat
/Input/oj287_ssc.dat
/Input/python.dat
/Input/xrb.dat
bhjet-module.so
bhjet-test.sl
agnjet-module.so
agnjet-test.sl
bhwrap.x
bhjet_glue.cc
Makefile
/Output/Compton_zones.dat
/Output/Cyclosyn_zones.dat
/Output/Disk.dat
/Output/Numdens.dat
/Output/Postcom.dat
/Output/Postsyn.dat
/Output/Precom.dat
/Output/Presyn.dat
/Output/Total.dat
/SEDs/
